In [2]:
# 131
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

# 출력값: 
# 사과
# 귤
# 수박

사과
귤
수박

In [4]:
# 132
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

# 출력값: ###############

#####
#####
#####

In [5]:
# 133
# 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

print("A")
print("B")
print("C")

A
B
C
A
B
C

In [7]:
# 134
# for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)

print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [6]:
# 135
# for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

print("변환: a")
print("변환: b")
print("변환: c")

변환: a
변환: b
변환: c
변환:a
변환:b
변환:c

In [9]:
# 136
# 다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for i in (10,20,30):
    print(i)

10
20
30
10
20
30

In [10]:
# 137
# 다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)

for i in (10,20,30):
    print(i)

10
20
30
10
20
30

In [11]:
# 138
# 다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")


for i in (10,20,30):
    print(i)
    print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [12]:
# 139
# 다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

print("++++")
for i in (10,20,30):
    print(i)

++++
10
20
30
++++
10
20
30

In [14]:
# 140
# 다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

for i in (10,20,30):
    print("-------")

-------
-------
-------
-------
-------
-------
-------

In [ ]:
141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
110
210
310

In [15]:
# 142
# for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

for i in 리스트:
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [18]:
# 143
# 리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4

for i in 리스트:
    print(len(i))

6
4
4

In [22]:
# 144
# 리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6

for i in 리스트:
    print(f'{i} {len(i)}')

dog 3
cat 3
parrot 6

In [23]:
# 145
# 리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.

# d
# c
# p

for i in 리스트:
    print(i[0])

d
c
p

In [24]:
# 146
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3
for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [25]:
# 147
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9

for i in 리스트:
    print(f'3 x {i} = {3*i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [26]:
# # 148
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라

for i in 리스트[1:]:
    print(i)

나
다
라

In [27]:
# 149
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다

for i in 리스트[::2]:
    print(i)

가
다

In [28]:
# 150
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가

for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [29]:
# 151
# 리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
# for문을 사용해서 리스트의 음수를 출력하라.

# -20
# -3

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [38]:
# 152
# for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
# 3

for i in 리스트:
    if i % 3 ==0:
        print(i)

3

In [39]:
# 153
# 리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
# 12
# 18

for i in 리스트:
    if i < 20 and i % 3 ==0:
        print(i)

12
18

In [40]:
# 154
# 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
# study
# python
# language

for i in 리스트:
    if len(i) >= 3 :
        print(i)

study
python
language

In [41]:
# 155
# 리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# A
# D
# (참고) isupper() 메서드는 대문자 여부를 판별합니다.

# >> 변수 = "A"
# >> 변수.isupper()
# True
# >> 변수 = "a"
# >> 변수.isupper()
# False

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [42]:
# 156
# 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# b
# c

for i in 리스트:
    if i.islower():
        print(i)

b
c

In [45]:
# 157
# 이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
# Dog
# Cat
# Parrot
# (참고) upper() 메서드는 문자열을 대문자로 변경합니다.

# >> 변수 = "a"
# >> a.upper()
# A
# >> 변수 = "abc"
# >> 변수.upper()
# ABC

for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [46]:
# 158
# 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
# hello
# ex01
# intro

for i in 리스트:
    print(i.split(".")[0])

hello
ex01
intro

In [47]:
# 159
# 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# define.h

for i in 리스트:
    if i.split(".")[1] == 'h':
        print(i)

intra.h
define.h

In [48]:
# 160
# 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# intra.c
# define.h
for i in 리스트:
    if i.split(".")[1] in ['h', 'c']:
        print(i)

intra.h
intra.c
define.h

In [ ]:
# 161
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for i in range(100):
    print(i)

In [50]:
# 162
# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

# 2002
# 2006
# 2010
# ...
# 2042
# 2046
# 2050
# 참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

# >> print(list(range(0, 10, 2)))
# [0, 2, 4, 6, 8]

for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

In [51]:
# 163
# 1부터 30까지의 숫자 중 3의 배수를 출력하라.

# 3 
# 6 
# 9 
# 12 
# 15 
# 18 
# 21 
# 24 
# 27 
# 30

for i in range(1,31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [57]:
# 164
# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [58]:
# 165
# for문을 사용해서 아래와 같이 출력하라.

# 0.0
# 0.1
# 0.2
# 0.3
# 0.4
# 0.5
# ...
# 0.9

for i in range(10):
    print(f'0.{i}')

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [59]:
# 166
# 구구단 3단을 출력하라.

# 3x1 = 3
# 3x2 = 6
# 3x3 = 9
# 3x4 = 12
# 3x5 = 15
# 3x6 = 18
# 3x7 = 21
# 3x8 = 24
# 3x9 = 27

for i in range(1,10):
    print(f'3x{i} = {3*i}')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [60]:
# 167
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

# 3x1 = 3
# 3x3 = 9
# 3x5 = 15
# 3x7 = 21
# 3x9 = 27

for i in range(1,10,2):
    print(f'3x{i} = {3*i}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [62]:
# 168
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

# 합 : 55
a = 0
for i in range(1,11):
    a += i
print(a)

55

In [63]:
# 169
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

# 합: 25
a = 0
for i in range(1,11):
    if i % 2 != 0:
        a += i
print(a)

25

In [64]:
# 170
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

a = 1
for i in range(1,11):
    a *= i
print(a)

3628800

In [9]:
# 171
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 32100
# 32150
# 32000
# 32500

print([x for x in range(32100,,)])

32100
32150
32000
32500

In [3]:
# 172
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500
for i,j in enumerate(price_list):
    print(i, j)

0 32100
1 32150
2 32000
3 32500

In [14]:
# 173
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 3 32100
# 2 32150
# 1 32000
# 0 32500
 
for i in range(len(price_list)):
    print(len(price_list)-1-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [15]:
# 174
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 100 32150
# 110 32000
# 120 32500

for i in range(len(price_list)-1):
    print(100+10*i, price_list[i+1] )

100 32150
110 32000
120 32500

In [17]:
# 175
# my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라

for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [18]:
# 176
# 리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]
# 가 나 다
# 나 다 라
# 다 라 마

for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [20]:
# 177
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가
for i in range(len(my_list)-1):
    print(my_list[-i-1], my_list[-i-2])

라 다
다 나
나 가

In [21]:
# 178
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]
# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

# 100
# 200
# 400

for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [28]:
# 179
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

# 233.33333333333334
# 466.6666666666667
# 733.3333333333334
# 1033.3333333333333


for i in range(len(my_list)-2):
    print(sum(my_list[i:i+3]) / 3 )

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [34]:
# 180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    volatility.append(int(high_prices[i] -low_prices[i]))
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
# 181
# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

# 101호	102호
# 201호	202호
# 301호	302호

apart = [['101호','102호'],['201호','202호'],['301호','302호']]

In [ ]:
# 182
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

시가	종가
100	80
200	210
300	330
stock = [[시가,100,200,300][종가,80,210,330]]

In [ ]:
# 183
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

시가	종가
100	80
200	210
300	330

stock = {'시가': [100,200,300] , '종가':[80,210,330]}

In [ ]:
# 184
# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

10/10	80	110	70	90
10/11	210	230	190	200
stock = {10/10: [80	,110,70,90], 10/11 : [210,230,190,200]}

In [36]:
# 185
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
for i in apart:
    for j in i:
        print(j,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [38]:
# 186
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호

for i in apart[::-1]:
    for j in i:
        print(j,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [39]:
# 187
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호

for i in apart[::-1]:
    for j in i[::-1]:
        print(j,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [41]:
# 188
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----
for i in apart:
    for j in i:
        print(j,"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [43]:
# 189
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----

for i in apart:
    
    for j in i:
        print(j,"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [44]:
# 190
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
# -----

for i in apart:
    
    for j in i:
        print(j,"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [47]:
# 191
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# ...

for i in data:
    for j in i:
        print(j * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [48]:
# 192
# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# 1980.2772
# ----
# 7501.05
# 2050.2870000000003
# 2050.2870000000003
# 1980.2772
# ----
# 15452.163
# 15052.107
# 15552.177
# 14902.086000000001
# ----

for i in data:
    for j in i:
        print(j * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [50]:
# 193
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

# # >> print(result)
# [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]
result = []
for i in data:
    for j in i:
        result.append(j * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [51]:
# 194
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

# >> print(result)
# [
#  [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
#  [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
#  [15452.163, 15052.107, 15552.177, 14902.086000000001]
# ]

result = []
for i in data:
    sub_result = []
    for j in i:
        sub_result.append(j * 1.00014)
        
    result.append(sub_result)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [56]:
# 195
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
100
190
310

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [63]:
# 196
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 190
# 310

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [65]:
# 197
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 100
# 310

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [70]:
# 198
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# >> print(volatility)
# [40, 30, 10]
volatility = []
for i in ohlc[1:]:
        volatility.append(i[1]-i[2])

print(volatility)

volatility = [i[1]-i[2] for i in ohlc[1:]]

print(volatility)

[40, 30, 10]
[40, 30, 10]

In [72]:
# 199
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

# 10


for i in ohlc[1:]:
        if i[3] > i[0]:
                print(i[1]-i[2])

10

In [73]:
# 200
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

# 0

total = []
for i in ohlc[1:]:
        total.append(i[3]-i[0])
print(sum(total))

0

In [76]:
# 241 현재시간
# datetime 모듈을 사용해서 현재 시간을 화면에 출력해보세요.

import datetime
now = datetime.datetime.now()
print(now)

2024-06-28 22:46:32.466991

In [77]:
# 242 현재시간의 타입
# datetime 모듈의 now 함수의 리턴 값의 타입을 화면에 출력해보세요.

import datetime
now = datetime.datetime.now()
print(now, type(now))

2024-06-28 22:47:03.014473 <class 'datetime.datetime'>

In [78]:
# 243 timedelta
# datetime 모듈의 timedelta를 사용해서 오늘로부터 5일, 4일, 3일, 2일, 1일 전의 날짜를 화면에 출력해보세요.

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2024-06-23 22:48:36.236333
2024-06-24 22:48:36.236333
2024-06-25 22:48:36.236333
2024-06-26 22:48:36.236333
2024-06-27 22:48:36.236333

In [79]:
# 244 strftime
# 현재시간을 얻어온 후 다음과 같은 포맷으로 시간을 출력해보세요. strftime 메서드를 사용하세요.

# 18:35:01 

import datetime

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

22:49:17

In [80]:
# 245 strptime
# datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을 datetime.datetime 타입의 시간 값으로 만들어줍니다. "2020-05-04"의 문자열을 시간 타입으로 변환해보세요.

import datetime

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [81]:
# 246 sleep 함수
# time 모듈, datetime 모듈을 사용해서 1초에 한 번 현재 시간을 출력하는 코드를 작성하세요.

import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2024-06-28 22:50:18.551914
2024-06-28 22:50:19.552916
2024-06-28 22:50:20.553521
2024-06-28 22:50:21.554515

KeyboardInterrupt:

In [ ]:
# 247 모듈 임포트
# 모듈을 임포트하는 4가지 방식에 대해 설명해보세요.

In [82]:
# 248 os 모듈
# os 모듈의 getcwd 함수를 호출하여 현재 디렉터리의 경로를 화면에 출력해보세요.

import os
ret = os.getcwd()
print(ret, type(ret))

d:\고경민\공부\코딩 연습 <class 'str'>

In [84]:
# 249 rename 함수
# 바탕화면에 텍스트 파일을 하나 생성한 후 os 모듈의 rename 함수를 호출하여 해당 파일의 이름을 변경해보세요.

import os
os.rename("d:/고경민/공부/코딩 연습/test", "d:/고경민/공부/코딩 연습/test1")

In [85]:
# 250 numpy
# numpy 모듈의 arange 함수를 사용해서 0.0 부터 5.0까지 0.1씩 증가하는 값을 화면에 출력해보세요.

# import numpy
# for i in numpy.arange(0, 5, 0.1):
#     print(i)

ModuleNotFoundError: No module named 'numpy'

In [ ]:
# 251 클래스, 객체, 인스턴스
# 클래스와 객체에 대해 설명해봅시다.

# 클래스 :  일종의 설계도로, 하나의 타입을 정의하는 방법
# 객체 : 만들어진 결과물을 객체

In [ ]:
# 252 클래스 정의
# 비어있는 사람 (Human) 클래스를 "정의" 해보세요.

class Human:
    pass

In [87]:
# 253 인스턴스 생성
# 사람 (Human) 클래스의 인스턴스를 "생성" 하고 이를 areum 변수로 바인딩해보세요.


class Human:
    pass

areum = Human()

In [90]:
# 254 클래스 생성자-1
# 사람 (Human) 클래스에 "응애응애"를 출력하는 생성자를 추가하세요.

# >>> areum = Human()
# 응애응애

class Human:
    def __init__(self):
        print("응애응애")

areum = Human()

응애응애

In [91]:
# 255 클래스 생성자-2
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

# >>> areum = Human("아름", 25, "여자")

class Human:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender

areum = Human("아름", 25, "여자")

응애응애

In [92]:
# 256 인스턴스 속성에 접근
# 255에서 생성한 인스턴스의 이름, 나이, 성별을 출력하세요. 인스턴스 변수에 접근하여 값을 출력하면 됩니다.

# 이름: 조아름, 나이: 25, 성별: 여자
# 인스턴스 변수에 접근하여 값을 가져오는 예

# >>> areum.age
# 25
class Human:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender

areum = Human("조아름", 25, "여자")
areum.age

25

In [96]:
# 257 클래스 메소드 - 1
# 사람 (Human) 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드를 추가하세요.

# >>> areum.who()
# 이름: 조아름, 나이: 25, 성별: 여자

class Human:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.gender}')
areum = Human("조아름", 25, "여자")
areum.who()

이름: 조아름, 나이: 25, 성별: 여자

In [99]:
# 258 클래스 메소드 - 2
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 setInfo 메소드를 추가하세요.

# >>> areum = Human("모름", 0, "모름")
# >>> areum.setInfo("아름", 25, "여자")

class Human:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.gender}')
    
    def setInfo(self,name, age, gender):
        self.name= name
        self.age= age
        self.gender=gender

areum = Human("모름", 0, "모름")
areum.who()
areum.setInfo("아름", 25, "여자")
areum.who()

이름: 모름, 나이: 0, 성별: 모름
이름: 아름, 나이: 25, 성별: 여자

In [100]:
# 259 클래스 소멸자
# 사람 (human) 클래스에 "나의 죽음을 알리지 말라"를 출력하는 소멸자를 추가하세요.

# >>> areum = Human("아름", 25, "여자")
# >>> del areum
# 나의 죽음을 알리지 말라

class Human:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
        
    def __del__(self):
        print("나의 죽음을 알리지 마라")
    
    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.gender}')
    
    def setInfo(self,name, age, gender):
        self.name= name
        self.age= age
        self.gender=gender

areum = Human("아름", 25, "여자")
del(areum)

나의 죽음을 알리지 마라

In [101]:
# 260 에러의 원인
# 아래와 같은 에러가 발생한 원인에 대해 설명하세요.

class OMG : 
    def print() :
        print("Oh my god")
        
mystock = OMG()
mystock.print() 

# >>> >>> myStock = OMG()
# >>> myStock.print()
# TypeError Traceback (most recent call last)
# <ipython-input-233-c85c04535b22> in <module>()
# ----> myStock.print()

# TypeError: print() takes 0 positional arguments but 1 was given

TypeError: OMG.print() takes 0 positional arguments but 1 was given

In [ ]:
# 261 Stock 클래스 생성
# 주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 
# 클래스는 속성과 메서드를 갖고 있지 않습니다.

class Stock:
    pass

In [103]:
# 262 생성자
# Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요.

class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [109]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

a = Stock(None, None)
a.set_name("삼성전자")  # Stock.set_name(a, "삼성전자")
print(a.name)

삼성전자

In [110]:
# 263 메서드
# 객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요.

class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    
    def set_name(self,name):
        self.name = name

a = Stock(None, None)
a.set_name("삼성전자")  # Stock.set_name(a, "삼성전자")
print(a.name)

삼성전자

In [111]:
# 264 메서드
# 객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요.

class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    
    def set_name(self,name):
        self.name = name
    
    def set_code(self, code):
        self.code = code


a = Stock(None, None)
a.set_code("005930")
print(a.code)

005930

In [114]:
# 265 메서드
# 종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가하세요. 
# 해당 메서드를 사용하여 종목명과 종목코드를 얻고 이를 출력해보세요.
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    
    def set_name(self,name):
        self.name = name
    
    def set_code(self, code):
        self.code = code
    
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code


삼성 = Stock("삼성전자", "005930")
print(삼성.get_code())
print(삼성.get_name())

005930
삼성전자

In [ ]:
# 266 객체의 속성값 업데이트
# 생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요.
# PER, PBR, 배당수익률은 float 타입입니다.

class Stock:
    def __init__(self,name,code,PER, PBR, dividend_rate):
        self.name = name
        self.code = code
        self.PER = PER
        self.PBR = PBR
        self.dividend_rate = dividend_rate
    
    def set_name(self,name):
        self.name = name
    
    def set_code(self, code):
        self.code = code
    
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code

In [ ]:
# 267 객체 생성
# 266번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요.

# 항목	정보
# 종목명	삼성전자
# 종목코드	005930
# PER	15.79
# PBR	1.33
# 배당수익률	2.83

a = Stock('삼성전자','005930',15.79,1.33,2.83)

In [ ]:
# 268 객체의 속성 수정
# PER, PBR, 배당수익률은 변경될 수 있는 값입니다.
# 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가하세요.

class Stock:
    def __init__(self,name,code,PER, PBR, dividend_rate):
        self.name = name
        self.code = code
        self.PER = PER
        self.PBR = PBR
        self.dividend_rate = dividend_rate
    
    def set_name(self,name):
        self.name = name
    
    def set_code(self, code):
        self.code = code
    
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
    
    def set_per(self):
        return self.PER
    
    def set_pbr(self):
        return self.PBR
    
    def set_dividend(self):
        return self.dividend_rate
    
    a = Stock('삼성전자','005930',15.79,1.33,2.83)

In [117]:
# 269 객체의 속성 수정
# 267번에서 생성한 객체에 set_per 메서드를 호출하여 per 값을 12.75로 수정해보세요.

class Stock:
    def __init__(self,name,code,per, pbr, dividend_rate):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend_rate = dividend_rate
    
    def set_name(self,name):
        self.name = name
    
    def set_code(self, code):
        self.code = code
    
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
    
    def set_per(self,per):
        self.per = per
    
    def set_pbr(self,pbr):
        self.pbr = pbr
    
    def set_dividend(self,dividend_rate):
        self.dividend_rate = dividend_rate
    
a = Stock('삼성전자','005930',15.79,1.33,2.83)
a.set_per(12.75)
a.per

12.75

In [118]:
# 270 여러 종목의 객체 생성
# 아래의 표를 참조하여 3종목에 대해 객체를 생성하고 이를 파이썬 리스트에 저장하세요.
# 파이썬 리스트에 저장된 각 종목에 대해 for 루프를 통해 종목코드와 PER을 출력해보세요.

# 종목명	종목코드	PER	PBR	배당수익률
# 삼성전자	005930	15.79	1.33	2.83
# 현대차	005380	8.70	0.35	4.27
# LG전자	066570	317.34	0.69	1.37

samsung = Stock('삼성전자','005930',15.79,1.33,2.93)
hundai = Stock('현대차','005380',8.70,0.35,4.27)
lg = Stock('LG전자','066570',317.34,0.69,1.37)
stocks = [samsung, hundai, lg]

for i in stocks:
    print(i.code, i.per)

005930 15.79
005380 8.7
066570 317.34

In [121]:
import random
num1 = str(random.randint(0,999)).zfill(3)
num2 = str(random.randint(0,99)).zfill(2)
num3 = str(random.randint(0,999999)).zfill(6)
b= (num1,num2, num3)
c = "-".join(b)
print(c)

935-49-653174

In [123]:
# 271 Account 클래스
# 은행에 가서 계좌를 개설하면 은행이름, 예금주, 계좌번호, 잔액이 설정됩니다. 
# Account 클래스를 생성한 후 생성자를 구현해보세요. 
# 생성자에서는 예금주와 초기 잔액만 입력 받습니다.
# 은행이름은 SC은행으로 계좌번호는 3자리-2자리-6자리 형태로 랜덤하게 생성됩니다.

# 은행이름: SC은행
# 계좌번호: 111-11-111111

import random

class Account():
    def __init__(self,user_name,balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0,999)).zfill(3)
        num2 = str(random.randint(0,99)).zfill(2)
        num3 = str(random.randint(0,999999)).zfill(6)
        b= (num1,num2, num3)
        self.account_number = "-".join(b)



kim = Account("김민수", 100)
print(kim.user_name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
278-21-430487

In [ ]:
# 272 클래스 변수
# 클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요.
import random

class Account():
    account_count = 0
    def __init__(self,user_name,balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0,999)).zfill(3)
        num2 = str(random.randint(0,99)).zfill(2)
        num3 = str(random.randint(0,999999)).zfill(6)
        b= (num1,num2, num3)
        self.account_number = "-".join(b)
        Account.account_count += 1

In [15]:
# 273 클래스 변수 출력
# Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.

import random

class Account():
    account_count = 0
    def __init__(self,user_name,balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0,999)).zfill(3)
        num2 = str(random.randint(0,99)).zfill(2)
        num3 = str(random.randint(0,999999)).zfill(6)
        b= (num1,num2, num3)
        self.account_number = "-".join(b)
        Account.account_count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 

kim = Account("김민수", 100)
kim.get_account_num()
lee = Account("이민수", 100)
lee.get_account_num()

1
2

In [ ]:
# 274 입금 메서드
# Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능합니다.

import random

class Account():
    account_count = 0
    def __init__(self,user_name,balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0,999)).zfill(3)
        num2 = str(random.randint(0,99)).zfill(2)
        num3 = str(random.randint(0,999999)).zfill(6)
        b= (num1,num2, num3)
        self.account_number = "-".join(b)
        Account.account_count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money

In [16]:
# 275 출금 메서드
# Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 출금은 계좌의 잔고 이상으로 출금할 수는 없습니다.

import random

class Account():
    account_count = 0
    def __init__(self,user_name,balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0,999)).zfill(3)
        num2 = str(random.randint(0,99)).zfill(2)
        num3 = str(random.randint(0,999999)).zfill(6)
        b= (num1,num2, num3)
        self.account_number = "-".join(b)
        Account.account_count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money
            
    def withdraw(self, minuse):
        if self.balance>= minuse:
            self.balance -= minuse

k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110

In [21]:
# 276 정보 출력 메서드
# Account 인스턴스에 저장된 정보를 출력하는 display_info() 메서드를 추가하세요.
# 잔고는 세자리마다 쉼표를 출력하세요.

# 은행이름: SC은행
# 예금주: 파이썬
# 계좌번호: 111-11-111111
# 잔고: 10,000원

import random

class Account():
    account_count = 0
    def __init__(self,user_name,balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0,999)).zfill(3)
        num2 = str(random.randint(0,99)).zfill(2)
        num3 = str(random.randint(0,999999)).zfill(6)
        b= (num1,num2, num3)
        self.account_number = "-".join(b)
        Account.account_count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money
            
    def withdraw(self, minuse):
        if self.balance>= minuse:
            self.balance -= minuse
            
    def display_info(self):
        print(f"은행이름: {self.bank}\n"
            f"예금주: {self.user_name}\n"
            f"계좌번호: {self.account_number}\n"
            f"잔고: {self.balance}")
        

p = Account("파이썬", 10000)
p.display_info()

은행이름: SC은행
예금주: 파이썬
계좌번호: 393-49-514229
잔고: 10000

In [24]:
# 277 이자 지급하기
# 입금 횟수가 5회가 될 때 잔고를 기준으로 1%의 이자가 잔고에 추가되도록 코드를 변경해보세요.

import random

class Account():
    account_count = 0
    def __init__(self,user_name,balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0,999)).zfill(3)
        num2 = str(random.randint(0,99)).zfill(2)
        num3 = str(random.randint(0,999999)).zfill(6)
        b= (num1,num2, num3)
        self.account_number = "-".join(b)
        Account.account_count += 1
        self.deposit_number = 0
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money
            self.deposit_number += 1
            if self.deposit_number >= 5:
                self.balance *= 1.01
            
    def withdraw(self, minuse):
        if self.balance>= minuse:
            self.balance -= minuse
            
    def display_info(self):
        print(f"은행이름: {self.bank}\n"
            f"예금주: {self.user_name}\n"
            f"계좌번호: {self.account_number}\n"
            f"잔고: {self.balance}")
        
p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [51]:
# 278 여러 객체 생성
# Account 클래스로부터 3개 이상 인스턴스를 생성하고 생성된 인스턴스를 리스트에 저장해보세요.

import random
user_list = []
class Account():
    account_count = 0

    def __init__(self, user_name, balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0, 999)).zfill(3)
        num2 = str(random.randint(0, 99)).zfill(2)
        num3 = str(random.randint(0, 999999)).zfill(6)
        b = (num1, num2, num3)
        self.account_number = "-".join(b)
        self.deposit_number = 0
        Account.account_count += 1
        user_list.append(self)

    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 

    def deposit(self, money):
        if money >= 1:
            self.balance += money
            self.deposit_number += 1
            if self.deposit_number >= 5:
                self.balance *= 1.01

    def withdraw(self, minuse):
        if self.balance >= minuse:
            self.balance -= minuse

    def display_info(self):
        print(
            f"은행이름: {self.bank}\n"
            f"예금주: {self.user_name}\n"
            f"계좌번호: {self.account_number}\n"
            f"잔고: {self.balance}"
        )
    
    def __repr__(self):
        return(
            f"\n은행이름: {self.bank}\n"
            f"예금주: {self.user_name}\n"
            f"계좌번호: {self.account_number}\n"
            f"잔고: {self.balance}\n"
        )

# k = Account("KIM", 10000000)
# l = Account("LEE", 10000)
# p = Account("PARK", 10000)


# print(user_list)

[
은행이름: SC은행
예금주: KIM
계좌번호: 283-53-315018
잔고: 10000000
,
은행이름: SC은행
예금주: LEE
계좌번호: 697-01-873695
잔고: 10000
,
은행이름: SC은행
예금주: PARK
계좌번호: 220-95-480374
잔고: 10000
]

In [55]:
# 279 객체 순회
# 반복문을 통해 리스트에 있는 객체를 순회하면서 잔고가 100만원 이상인 고객의 정보만 출력하세요.


import random
user_list = []
class Account():
    account_count = 0

    def __init__(self, user_name, balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0, 999)).zfill(3)
        num2 = str(random.randint(0, 99)).zfill(2)
        num3 = str(random.randint(0, 999999)).zfill(6)
        b = (num1, num2, num3)
        self.account_number = "-".join(b)
        self.deposit_number = 0
        Account.account_count += 1
        user_list.append(self)

    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 

    def deposit(self, money):
        if money >= 1:
            self.balance += money
            self.deposit_number += 1
            if self.deposit_number >= 5:
                self.balance *= 1.01

    def withdraw(self, minuse):
        if self.balance >= minuse:
            self.balance -= minuse

    def display_info(self):
        print(
            f"은행이름: {self.bank}\n"
            f"예금주: {self.user_name}\n"
            f"계좌번호: {self.account_number}\n"
            f"잔고: {self.balance}"
        )
    
    def __repr__(self):
        return(
            f"은행이름: {self.bank}\n"
            f"예금주: {self.user_name}\n"
            f"계좌번호: {self.account_number}\n"
            f"잔고: {self.balance}\n"
        )

k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)



for i in user_list:
    if i.balance >= 1_000_000:
        print(i)

은행이름: SC은행
예금주: KIM
계좌번호: 433-56-527044
잔고: 10000000

In [74]:
# 280 입출금 내역
# 입금과 출금 내역이 기록되도록 코드를 업데이트 하세요. 입금 내역과 출금 내역을 출력하는 deposit_history와 withdraw_history 메서드를 추가하세요.


import random
user_list = []
class Account():
    account_count = 0

    def __init__(self, user_name, balance):
        self.balance = balance
        self.user_name = user_name
        self.bank = "SC은행"
        num1 = str(random.randint(0, 999)).zfill(3)
        num2 = str(random.randint(0, 99)).zfill(2)
        num3 = str(random.randint(0, 999999)).zfill(6)
        b = (num1, num2, num3)
        self.account_number = "-".join(b)
        self.deposit_number = 0
        Account.account_count += 1
        user_list.append(self)
        self.deposit_list = []
        self.withdraw_list = []

    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 

    def deposit(self, money):
        if money >= 1:
            self.balance += money
            self.deposit_number += 1
            self.deposit_list.append(f'입금: {money} 잔액: {self.balance}')
            if self.deposit_number >= 5:
                self.balance *= 1.01
                self.deposit_list.append(f'이자 : {self.balance*100/101*0.01}')

    def withdraw(self, money):
        if self.balance >= money:
            self.balance -= money
            self.withdraw_list.append(f'출금: {money} 잔액: {self.balance}')

            

    def display_info(self):
        print(
            f"은행이름: {self.bank}\n"
            f"예금주: {self.user_name}\n"
            f"계좌번호: {self.account_number}\n"
            f"잔고: {self.balance}"
        )
    
    def __repr__(self):
        return(
            f"은행이름: {self.bank}\n"
            f"예금주: {self.user_name}\n"
            f"계좌번호: {self.account_number}\n"
            f"잔고: {self.balance}\n"
        )
        
    def deposit_history(self):
        print(self.deposit_list)
            
            
    def withdraw_history(self):
        print(self.withdraw_list)
            

    
    
k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()    

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

['입금: 100 잔액: 1100', '입금: 200 잔액: 1300', '입금: 300 잔액: 1600', '입금: 100 잔액: 1700', '입금: 200 잔액: 1900', '이자 : 19.0', '입금: 300 잔액: 2219.0', '이자 : 22.19']
['출금: 100 잔액: 2141.19', '출금: 200 잔액: 1941.19']

In [77]:
# 281 클래스 정의
# 다음 코드가 동작하도록 차 클래스를 정의하세요.

# >> car = 차(2, 1000)
# >> car.바퀴
# 2
# >> car.가격
# 1000

class Car:
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price
        
car = Car(2,1000)
print(car.wheel)
print(car.price)

2
1000

In [80]:
# 282 클래스 상속
# 차 클래스를 상속받은 자전차 클래스를 정의하세요.

class Car:
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price
        
class Bicycle (Car):
    pass

bike = Bicycle(2,1000)
print(car.wheel)
print(car.price)

2
1000

In [81]:
# 283 클래스 상속
# 다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

# >> bicycle = 자전차(2, 100)
# >> bicycle.가격
# 100

class Car:
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price
        
class Bicycle (Car):
    pass

bicycle = Bicycle(2, 100)
bicycle.price

100

In [84]:
# 284 클래스 상속
# 다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

# >> bicycle = 자전차(2, 100, "시마노")
# >> bicycle.구동계
# 시마노

class Car:
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price
        
class Bicycle (Car):
    def __init__(self, wheel, price,driving_system):
        self.wheel = wheel
        self.price = price
        self.driving_system = driving_system

bicycle = Bicycle(2, 100, "시마노")
bicycle.driving_system

'시마노'

In [89]:
# 285 클래스 상속
# 다음 코드가 동작하도록 차 클래스를 상속받는 자동차 클래스를 정의하세요.

# >> car = 자동차(4, 1000)
# >> car.정보()
# 바퀴수 4
# 가격 1000

class Car:
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price
        
class Bicycle (Car):
    def __init__(self, wheel, price,driving_system):
        super().__init__(wheel, price)
        self.driving_system = driving_system

class Carr(Car):
    def __init__(self, wheel, price):
        super().__init__(wheel, price)
    
    def information(self):
        print(f'바퀴수 {self.wheel}\n'
              f'가격 {self.price}')

car1 = Car(2,300)
car = Carr(4, 1000)
car.information()
print(car1.wheel)
print(car.wheel)
print(car1.wheel)

바퀴수 4
가격 1000
2
4
2

In [91]:
# 286 부모 클래스 생성자 호출
# 다음 코드가 동작하도록 차 클래스를 수정하세요.

# >> bicycle = Bicycle(2, 100, "시마노")
# >> bicycle.information()
# 바퀴수 2
# 가격 100

class Car:
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price
        
class Bicycle (Car):
    def __init__(self, wheel, price,driving_system):
        super().__init__(wheel, price)
        self.driving_system = driving_system
        
    def information(self):
        print(f'바퀴수 {self.wheel}\n'
              f'가격 {self.price}')    

class Carr(Car):
    def __init__(self, wheel, price):
        super().__init__(wheel, price)
    
    def information(self):
        print(f'바퀴수 {self.wheel}\n'
              f'가격 {self.price}')
        
bicycle = Bicycle(2, 100, "시마노")
bicycle.information()

바퀴수 2
가격 100

In [93]:
# 287 부모 클래스 메서드 호출
# 자전차의 정보() 메서드로 구동계 정보까지 출력하도록 수정해보세요.

# >> bicycle = Bicycle(2, 100, "시마노")
# >> bicycle.information()
# 바퀴수 2
# 가격 100
# 구동계 시마노

class Car:
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price
        
class Bicycle (Car):
    def __init__(self, wheel, price,driving_system):
        super().__init__(wheel, price)
        self.driving_system = driving_system
        
    def information(self):
        print(f'바퀴수 {self.wheel}\n'
              f'가격 {self.price}\n'
              f'구동계 {self.driving_system}')    

class Carr(Car):
    def __init__(self, wheel, price):
        super().__init__(wheel, price)
    
    def information(self):
        print(f'바퀴수 {self.wheel}\n'
              f'가격 {self.price}')
        
        
bicycle = Bicycle(2, 100, "시마노")
bicycle.information()

바퀴수 2
가격 100
구동계 시마노

In [94]:
# 288 메서드 오버라이딩
# 다음 코드의 실행 결과를 예상해보세요.

class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")
나 = 자식()
나.호출()

#출력값 : 자식호출

자식호출

In [95]:
# 289 생성자
# 다음 코드의 실행 결과를 예상해보세요.

class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
나 = 자식()

#출력값 : 자식생성

자식생성

In [97]:
# 290 부모클래스 생성자 호출
# 다음 코드의 실행 결과를 예상해보세요.

class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    super().__init__()
    print("자식생성")
    

나 = 자식()

#출력값 : 자식생성

부모생성
자식생성